# Виртуальное окружение
venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Веса моделей
*.pth
*.pt
*.h5

# Пример атаки
attack_example.png

# Настройки IDE
.idea/
.vscode/

# Системные файлы
.DS_Store

# Датасет
data/